* {
    margin:0;
    padding:0;  
  }

header {
    position: fixed;
    border: 100px;
    top: 0px;
    width: 1400px;
    height: 80px;
   
}

body {
    font-family: "Fira Sans", sans-serif;
}

h1 { 
    text-align: center; 
    font-weight: bold;
    font-size: 50px;
}

.image { 
    display: block;
    margin-left: 450px;
 }

.card {
    text-align: center;
}

#contactForm {
    
    margin: 0 auto;
  width: 400px;
  padding: 10px;
  border: 5px solid rgb(205, 176, 181);
  border-radius: 5px;

}


#github {
    display: inline;
    font-size: 25px;
   
}

#portfolio {
    display: inline;
    font-size: 25px;
    
}

#contact-me {
    display: inline;
    font-size: 25px;
   
}

#contact-me-section {
    text-color: rgb(251, 251, 251);
    background-color: rgb(76, 71, 75);
    color:aliceblue;
    
}

header,
footer { 
    text-align: center;
    padding: 20px;
background-color: rgb(205, 176, 181); 
}

.text-center{
    text-align: center;
}

.text-left{
    text-align:left;
}