header {
   
}


h1 { 
    text-align: center; 
    font-weight: bold;
    font-size: 50px;
}

.image { 
    display: block;
    margin-left: 450px;
 }

 .figcaption {
    text-align: center;
 }
.card {
    text-align: center;
}

.contact2 {
    font-color: grey;

}


#github {
    display: inline;
    border: 2px solid rgb(117, 117, 121); 
    /* border: 3px blue; not working */
}

#portfolio {
    display: inline;
    border: 2px solid rgb(117, 117, 121); 
}

#contact-me {
    display: inline;
    border: 2px solid rgb(117, 117, 121); 
}

#contact-me-section {
    font-color: black;
}

header,
footer { 
    text-align: center;
    padding: 20px;
background-color: rgb(205, 176, 181); 
}